---
permalink: "404.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Data Dataverso | Red Ciudadana</title>
{% endblock %}

{% block content %}

    <!-- ====== Hero Start ====== -->
    <section class="ud-hero" id="home">
        <div class="container">
            <div class="row">
                <div class="ud-hero-content">
                    <div class="col-xl-10 col-lg-10 mx-auto" style="text-align: center;margin-bottom: 40px;">
                        <img class="mx-auto" src="/assets/images/404-02.png">
                        <h1 class="ud-hero-title">Oops!</h1>
                        <br>
                        <p class="ud-hero-desc">La página que buscas no se encuentra disponible. <br> Revisa el URL o vuelve a la pagina de inicio.</p>
                        <a class="ud-main-btn" href="/index.html">Regresar al Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block body_javascripts %}

{% endblock %}