---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Data Verso | Red Ciudadana</title>
{% endblock %}

{% block content %}

    <!-- ====== Hero Start ====== -->
    <section class="ud-hero" id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
              <h1 class="ud-hero-title">
                Data Verso
              </h1>
              <p class="ud-hero-desc">
                Busca entre los conjuntos de datos abiertos disponibles
              </p>
              <form action="#" class="search_bar">
                <input type="text" id="fname" name="fname">
                <i class="lupa fas fa-search"></i>
              </form>
              <div class="row">
                <div class="col-lg-4 mb-4 mr-white">
                  <h1 class="ud-hero-title mb-0">
                    123
                  </h1>
                  <p class="ud-hero-desc">Estadídtica 1</p>
                </div>
                <div class="col-lg-4 mb-4 mr-white">
                  <h1 class="ud-hero-title mb-0">
                    456
                  </h1>
                  <p class="ud-hero-desc">Estadídtica 2</p>
                </div>
                <div class="col-lg-4 mb-4">
                  <h1 class="ud-hero-title mb-0">
                    321
                  </h1>
                  <p class="ud-hero-desc">Estadídtica 3</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Hero End ====== -->

    <section id="" class="ud-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="ud-section-title text-center mx-auto">
              <span>¿Qué hacemos?</span>
              <h2>Lorem Ipsum</h2>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="cuadro">
              <img src="/assets/images/plalceholder.png">
              <p>Cuadro explicativo 1</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="cuadro">
              <img src="/assets/images/plalceholder.png">
              <p>Cuadro explicativo 2</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="cuadro">
              <img src="/assets/images/plalceholder.png">
              <p>Cuadro explicativo 3</p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- ====== Conjuntos ====== -->
    <section id="conjuntos" class="ud-faq">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title text-center mx-auto">
              <span>Conjuntos</span>
              <h2>Nuestros Conjuntos</h2>
              <p>
                Hecha un vistaso a nuestros conjuntos.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            
            {% for conjunto in collections.conjuntos %}
            <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
              <div class="accordion">
                <button
                  class="ud-faq-btn collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                >
                  <span class="icon flex-shrink-0">
                    <i class="lni lni-chevron-down"></i>
                  </span>
                  <span>{{conjunto.data.title}}</span>
                </button>
                <div id="collapseOne" class="accordion-collapse collapse">
                  <div class="ud-faq-body">
                    <a href="{{conjunto.data.json}}" download="{{conjunto.data.title | slug}}" class="ud-main-btn">json</a>
                    <br><br>
                    <!-- <p>Enlace para uso de api: <br><a href="https://data-dataverso.netlify.app{{conjunto.url}}" id="copyLink">https://data-dataverso.netlify.app{{conjunto.url}}</a></p> -->
                    <p>Enlace para uso de api: <br><a href="https://data-dataverso.redciudadana.org{{conjunto.url}}" id="copyLink">https://data-dataverso.redciudadana.org{{conjunto.url}}</a></p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </section>
    <!-- ====== FAQ End ====== -->
{% endblock %}

{% block body_javascripts %}
<script>
  document.getElementById('copyLink').addEventListener('click', function() {
    // Create a temporary input element
    var input = document.createElement('input');
    // Set its value to the link's href attribute
    input.value = this.href;
    // Append the input element to the document
    document.body.appendChild(input);
    // Select the input's value
    input.select();
    // Copy the selected text
    document.execCommand('copy');
    // Remove the temporary input element
    document.body.removeChild(input);
    // Log a message or perform any additional actions
    console.log('Link copied to clipboard: ' + this.href);
  });
</script>
{% endblock %}